.feedback {
    padding: 39px 15px 50px;
    border-bottom: 1px solid #e3e3e3;
}

@media screen and (min-width: 1400px) {
    .feedback {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        position: relative;
    }
}

.feedback__link {
    text-decoration: none;
    color: #3142C6;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.feedback__description {
    margin: 0;
    margin-top: 29px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 34px;
}

@media screen and (min-width: 1400px) {
    .feedback__description {
        text-align: center;
        margin-top: 28px;
        margin-bottom: 34px;
        max-width: 750px;
    }
}

.feedback__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.feedback__name-position {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
}

.feedback__img {
    max-width: 290px;
    max-height: 258px;
}

@media screen and (min-width: 1400px) {
    .feedback__img {
        max-width: 273px;
        max-height: 243px;
        position: absolute;
        right: 26px;
        bottom: 0px;
    }
}

.circles {
    display: flex;
    margin: 40px 0px;
    justify-content: center;
}

@media screen and (min-width: 1400px) {
    .circles {
        margin-top: 38px;
        margin-bottom: 66px;
    }
}

.circle {
    height: 12px;
    width: 12px;
    margin-right: 19.5px;
    border-radius: 50%;
    opacity: 0.2;
    background-color: text-color-dark;
}

.circle:last-child {
    margin-right: 0;
}

.circle:hover {
    background-color: #3141c5;
    opacity: 1;
}

@media screen and (min-width: 1400px) {
    .circle {
        height: 8px;
        width: 8px;
        margin-right: 13px;
    }
    .circle:last-child {
        margin-right: 0;
    }
}