.order {
    padding: 50px 15px;
    background-color: #f4f5f7;
}

@media screen and (min-width: 1400px) {
    .order {
        padding: 73px 0 72px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 441px;
    }
}

.order__details {
    max-width: 550px;
}

@media screen and (min-width: 1400px) {
    .order__details {
        margin-top: 45px;
    }
}

.order__illustration {
    min-width: 200px;
}

@media screen and (min-width: 1400px) {
    .order__illustration {
        max-width: 269px;
        margin-right: 121px;
    }
}

.order__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-top: 40px;
    margin: 0;
}

@media screen and (min-width: 1400px) {
    .order__title {
        text-align: start;
        margin: 0;
    }
}

@media screen and (min-width: 1400px) {
    .order__form {
        display: flex;
        margin-top: 26px;
    }
}

.order__text {
    margin: 0;
    margin-top: 18px;
    font-size: 22px;
    line-height: 32px;
}

@media screen and (min-width: 1400px) {
    .order__text {
        margin-top: 12px;
    }
}

.order__email {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #2b292d33;
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 13px;
}

@media screen and (min-width: 1400px) {
    .order__email {
        margin-top: 0px;
        max-width: 385px;
    }
}

.order__email::placeholder {
    color: #2b292d;
}

.order__button {
    margin-top: 12px;
}

@media screen and (max-width: 1399px) {
    .order__button {
        min-width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .order__button {
        margin: 0;
        margin-left: 10px;
        flex-shrink: 0;
    }
}

.order__terms {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #2b292d99;
}

@media screen and (min-width: 1400px) {
    .order__terms {
        margin-top: 10px;
    }
}

.order__terms-link {
    color: #3142c6;
}