@import "variables.scss";
.about {
    padding: 46px 15px;
    @include for-desktop {
        width: 100%;
        display: flex;
        background-color: #f4f5f7;
        justify-content: space-between;
        padding: 77px 130px 76px 130px;
    }
}

.article {
    &:last-child {
        margin-top: 20px;
    }
    @include for-desktop {
        margin: 0px;
        width: 555px;
        &:last-child {
            margin: 0px;
        }
    }
    &__title {
        color: $text-color-primary;
        font-size: 22px;
        line-height: 32px;
        font-weight: 700;
        margin: 0px;
    }
    &__text {
        color: $text-color-primary;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0px;
        margin-top: 6px;
    }
}