@import "variables.scss";
.inbox {
    background-color: #FCF0E366;
    padding: 50px 15px 48px;
    @include for-desktop {
        display: flex;
        height: 790px;
        padding: 0;
        align-items: center;
    }
    &__picture {
        @include for-desktop {
            margin: 142px 164px 101px 193px;
        }
    }
    &__img {
        max-height: 348px;
        max-width: 290px;
        @include for-desktop {
            max-width: 425px;
            max-height: 510px;
        }
    }
    &__img-text {
        font-size: 14px;
        line-height: 22px;
        color: $text-button-light-grey;
        text-align: center;
        display: none;
        @include for-desktop {
            display: block;
        }
    }
    &__information {
        margin-top: 32px;
        @include for-desktop {
            margin-top: 115px;
            margin-bottom: 116px;
        }
    }
    &__name {
        color: $text-button-orange;
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        @include for-desktop {
            margin-left: 28px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0;
        margin-top: 17px;
        @include for-desktop {
            font-size: 56px;
            line-height: 56px;
            margin-left: 28px;
            margin-top: 24px;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 34px;
        margin: 0;
        margin-top: 18px;
        @include for-desktop {
            margin-left: 28px;
            margin-top: 30px;
            max-width: 461px;
        }
    }
}

.comment {
    background-color: $text-button-collor;
    padding: 30px 20px;
    margin-top: 30px;
    border-bottom: 4px solid $color-blue;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    height: 321px;
    @include for-desktop {
        max-width: 519px;
        max-height: 213px;
        margin-top: 44px;
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
    }
    &__user-profile {
        display: flex;
        margin-top: 26px;
    }
    &__user-img {
        max-width: 40px;
        max-height: 40px;
        flex-grow: 1;
    }
    &__profile {
        margin-left: 11px;
        max-width: 200px;
        @include for-desktop {
            max-width: 250px;
        }
        &-name {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
        }
        &-description {
            font-size: 16px;
            line-height: 22px;
            margin: 0;
        }
    }
}