$color-light-yellow: #fcf0e366;
$color-white-light: #f2f2f2;
$color-light-grey: #e3e3e3;
$color-blue: #0185d0;
$color-blue-too: #0189d1;
$color-grey: #d5d4d5;
$color-dark: #2b292d;
$color-bg-color-light: #00A1C612;
$color-bg-color-white: #fff;
$color-bg-color-pink: #f3c6bd;
$color-bg-color-hiring:#D5D4D5;
$text-button-orange: #f1592b;
$text-button-black: #000;
$text-button-light-black:#00000026;
$text-color-green:#009b4d;
$text-color-light-grey: #2b292d99;
$text-color-light-grey-too: #2b292d33;
$text-color-light-grey-one: #2b292d26;
$text-color-blue: #3142c6;
$inbox-fon: #FCF0E3;
$border-color: #2b292d33;
$header-page-color: #F3C6BD;
$light-grey:#F4F5F7;
$color-blue-button:#3040c4;
$color-bg-color-blue: #3141C5;
$color-text-white: $color-bg-color-white;