$color-white: #f2f2f2;
$color-grey: #d5d4d5;
$color-light-grey: #e3e3e3;
$color-blue: #0185d0;
$text-color-dark: #2b292d;
$text-color-white: #fff;
$color-pink: #f3c6bd;
$text-button-black: #000;
$text-button-light-black:#00000026;
$text-color-green:#009b4d;
$text-color-blue: #3142c6;
$border-color: #2b292d33;
$light-grey:#F4F5F7;
$color-blue-button:#3040c4;